<!doctype html>
<html>
<head>
    <title>Quentin Tarantino</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="container">
        <div class="page-header text-center">
          <h1>Profile Page</h1>
          <a href="/logout" class="btn btn-primary btn-sm">Logout</a>
        </div>
      
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h3 class="text-center">Movie List</h3>
            <ul class="list-group">
              <% for(var i=0; i<movies.length; i++) {%>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-4">
                    <% let imgPath = movies[i].img
                    if(! imgPath && movies[i].imgPath){
                        const imgArr = movies[i].imgPath.split('/')
                        imgArr.shift()
                        imgPath = imgArr.join('/')
                    }else{
                        imgPath = 'img/movies/' + imgPath
                    }%>
                    <img src="<%= imgPath %>" class="img-fluid">
                  </div>
                  <div class="col-sm-8">
                    <h4><%= movies[i].movieName %> (<%= movies[i].year %>)</h4>
                    <p><%= movies[i].description %></p>
                    <h5>Rating: <%= movies[i].yourRating %></h5>
                    <div class="input-group mb-3">
                      <input type="number" class="form-control" max="10" min="0" placeholder="0-10" id="<%= movies[i]._id %>">
                      <div class="input-group-append">
                        <button class="btn btn-primary rateBtn" type="button" data-movieId="<%= movies[i]._id %>">Rate</button>
                      </div>
                    </div>
                    <% if(movies[i].userId && user._id.toString() === movies[i].userId.toString()){ %>
                    <button class="btn btn-secondary seenIt" data-movieDescription="<%= movies[i].description %>" data-yourRating = "<%= movies[i].yourRating %>" data-movieName="<%= movies[i].movieName %>" data-year="<%= movies[i].year %>">Delete</button>
                    <% } %>
                  </div>
                </div>
              </li>
              <% } %>
            </ul>
            <% if (user.local.email) { %>
                <form action="/movies" method="POST" enctype="multipart/form-data">
                    <span>Image</span>
                    <input type="file" name="img">
                  <input type="text" value="" name="movieName">
                  <input type="number" max="10" min="0" placeholder="Rating" name="yourRating">
                  <input type="text" placeholder="description" name="description">
                  <input type="number" placeholder="year" name="year">
                  <button type="submit">Submit</button>
                </form>
              </div>
              <% } %>
          </div>
        </div>
      </div>
      
<script src="main.js"></script>

</body>
</html>
